<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
	</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
	 " | prepend: site.baseurl | prepend: site.url }}" />

	<!-- bootstrap-3.3.0 -->
	<link rel="stylesheet" type="text/css" href="{{ " /reference/bootstrap/3.3.0/css/bootstrap.css " | prepend: site.baseurl }}">
	<script type="text/javascript" src="{{" /reference/bootstrap/3.3.0/js/bootstrap.min.js " | prepend: site.baseurl}}"></script>

	<!-- TOC -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{" /reference/toc/toc.js " | prepend: site.baseurl}}"></script>

	<!-- 語法高亮 -->
	<link rel="stylesheet" href="{{ " /reference/pygments/colorful.css " | prepend: site.baseurl }}">	

	<!-- 自訂規格 -->
	<link rel="stylesheet" type="text/css" href="{{ " /custom/css/id/index.css " | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ " /custom/css/id/top.css " | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ " /custom/css/class.css " | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ " /custom/css/common.css " | prepend: site.baseurl }}">
	<script type="text/javascript" src="{{" /custom/js/common.js " | prepend:site.baseurl}}"></script>
	
</head>